<div id="delivery" class="" ng-controller="mainController">
	<div id="delivery-head">
		<div ><nav class="navbar navbar-default navbar-fixed-top" id="delivery-nav">
		  <div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2" aria-expanded="false">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="#">
							<div style="font-family: 'Lemonada', cursive;">Hungry Bee</div>
					</a>
		    </div>

		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
		      <ul class="nav navbar-nav">
		        <li><a href="#!/delivery">Home</a></li>
		        <li><a href="">About</a></li>
		        <li><a href="">Blog</a></li>
		        <li><a href="">Franchise</a></li>
		        <li><a href="">Contact</a></li>
		      </ul>
		      <ul class="nav navbar-nav navbar-right">
		        <li class="spl"><a href="#!/">Logout</a></li>
		      </ul>
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav></div>
		<div id="searchDiv">
			<h1 >All your favourite</br>cuisines in one place</h1>
			<!-- background fixed nhi h -->
		</div>
	</div>
	<div class="restaurantContents col-md-12">
		<div class="offer-pane hidden-sm hidden-xs col-md-2">
			<div class="col-md-12 tab1">offers</div>
			<div class="col-md-12 tab2">Exclusive Coupon: Grab Flat Rs 100 OFF + Extra Rs 75 MobiKwik SuperCash on Food Orders</div>
			<div class="col-md-12 tab2">Grab 48% OFF On 6pc Hot & Crispy + 6pc Boneless Strips + 6pc Hot WIngs Combo</div>
			<div class="col-md-12 tab2">Best Price</br>Gurgaon Restaurants: Get Free Delivery on Orders above Rs 150</div>
			<div class="col-md-12 tab1">popular restaurants</div>
			<div class="col-md-12 tab3">
				<ul>
					<li><a ng-href="#!/restaurant/1">American Grill and Bar</a></li>
					<li><a ng-href="#!/restaurant/2">Paradise</a></li>
					<li><a ng-href="#!/restaurant/3">Tatva</a></li>
					<li><a ng-href="#!/restaurant/4">Autumn Leaef cafe</a></li>
					<li><a ng-href="#!/restaurant/5">Ciclo Cafe</a></li>
					<li><a ng-href="#!/restaurant/6">Vera Pizzeria</a></li>
				</ul>
			</div>
			<div class="col-md-12">
				<a href="#!/delivery"><img src="https://cms-assets.tutsplus.com/uploads/users/127/posts/26416/image/2_2.png" class="imgSet"></a>
			</div>
		</div>
		<div class="listContainer col-md-6">
			<div class="search-bar">
				<form>
					<div class="input-wrapper">
						<input type="text" class="form-control" placeholder="Search..." ng-model="query">
						<!-- ng-model="query" -> yhi help krta h search wali feel lane m -->
					</div>
					<button type="submit" class="btn btn-default">Search</button>
				</form>
			</div>
			<div ng-repeat="restaurant in restaurants | filter:query " class="col-md-12 restaurants" ng-controller="mainController">
			<div class="topContainer col-xs-12 col-sm-12 col-md-12 ">
			    <div class="images col-xs-3 col-sm-3 col-md-3">
						<!-- jis pi restaurant k naam p click karenge us k id k accordingly next page p land karega -->
						<!-- yahaan se sara information js ki file me store kiya hua h jo mainController ki help se page p show karega -->
			    	<a ng-href="#!/restaurant/{{restaurant.id}}"><img ng-src="{{restaurant.image}}"></a>
			    </div>
			    <div class="data1 col-xs-12  col-sm-7 col-md-9">
			    	<div class="rest-info">
			    		<div class="rest-category">
								<!-- ek object banaya hua h uske andar k values ko fetch krke paste krna h -->
		               <small>{{restaurant.category}} </small>
		            </div>
		            <div class="rest-name">
		            <a  ng-href="#!/restaurant/{{restaurant.id}}"><strong>{{restaurant.name}}</strong></a>
								<!-- ng-href nhi use krte h tho page chal tho jata h lekin console me error sho karega-->
								<!-- B'coz angular ko load hone m time lgta h aur itne me jo HTML m href use hua h use wo object nhi milta h -->
								<!-- kitna kuch jaan gya m ;D -->
		            </div>
		            <div>
		               <strong> {{restaurant.location}}</strong>
		            </div>
		            <div class="rest-address">
		                {{restaurant.address}}
		            </div>
			    	</div>
			    </div>
			</div>
			<div class="ratings">
	    		<div class="points"><strong>{{restaurant.vote}}</strong></div>
	    		<div class="votes"><small>{{restaurant.votesNum}}</small></div>
	    		<div class="votes"><small>{{restaurant.reviews}}</small></div>
	    	</div>
	    	<div class="data2">
				<div class="type">
		            <div><small>Cuisines</small></div>
		            <div><small>Cost for Two</small></div>
		            <div><small>Hours</small></div>
		        </div>
		        <div>
		        	<div>:</div>
		        	<div>:</div>
		        	<div>:</div>
		        </div>
		        <div class="value">
		            <div>&nbsp;{{restaurant.cuisines}}</div>
		            <div>&nbsp;<i class="fa fa-inr" aria-hidden="true"></i>&nbsp;{{restaurant.cost | number}}</div>
		            <div>&nbsp;{{restaurant.hours}}</div>
		        </div>
			</div>
			<div class="data3 row">
				<!-- inko link krna h -->
				<ul class="interactList col-md-12">
					<li><a href="">call</a></li>
					<li><a href="">book a table</a></li>
					<li><a href="">order</a></li>
					<li><a href="">view menu</a></li>
				</ul>
			</div>
	    	</div>
		</div>
		<!-- ye banana bakhi h -->
		<div class="rest-cuisines col-md-3 hidden-xs hidden-sm">
			<div class="btn btn-danger col-md-12 favBtn" ng-click="foodListApp()">Favourite Food List</div>
			<!-- <div class="box img1" style="background-color:white"></div> -->
			<div class="box col-md-12 img1"><img src="http://www.wallquotes.com/sites/default/files/kchn0314.png"></div>
			<!-- <div class="box col-md-12 img2"><img src="http://www.quotemaster.org/images/60/606e579a5cf6b979c42307918dad8827.png"></div> -->
			<!-- <div class="box col-md-12 img3"><img src="https://68.media.tumblr.com/beeefe6d89882a8e34ef9020a5678d4d/tumblr_n8cpkpyRy71stu0tlo1_500.png"></div> -->
			<!-- <div class="box col-md-12 img4"><img src="https://s9.favim.com/orig/140114/food-happiness-happy-quotes-Favim.com-1259329.png"></div> -->
		</div>
		</div>
	</div>
