<div id="home" class="" ng-controller="homeController">
	<div id="main-head">
		<nav class="navbar navbar-default" id="main-nav">
		  <div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="#"><img src="https://cms-assets.tutsplus.com/uploads/users/127/posts/26416/image/2_2.png" width="100px">
						<div style="color:white;text-align:center;font-family: 'Lemonada', cursive;">Hungry Bee</div>
					</a>
		    </div>

		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav">
		        <li><a href="#!/">Home</a></li>
		        <li><a href="#">About</a></li>
		        <li><a href="#">Blog</a></li>
		        <li><a href="#">Franchise</a></li>
		        <li><a href="#">Contact</a></li>
		      </ul>
		      <ul class="nav navbar-nav navbar-right">
		        <li class="spl spl1"><a href="#!/signup">create an account</a></li>
		        <li class="spl"><a href="#!/login">Login</a></li>
		      </ul>
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>
		<div class="" id="searchDiv">
			<h1>All your favourite</br>cuisines in one place</h1>
			<div data-toggle="modal" data-target="#myModal">
			<input class="searchBar" type="text" placeholder="search...">
			<span class="searchButton">
				<a><i class="fa fa-search" aria-hidden="true"></i></a>
			</span></div>
			<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
			        <h4 class="modal-title" id="myModalLabel">Hello there...!!</h4>
							<p>You must be logged-in in order to continue</p>
			      </div>
			      <div class="modal-body" align="center">
			        <button type="button" class="btn btn-primary loadButton" data-loading-text="Loading..." data-dismiss="modal" ng-click="signupland()">Signup</button>
			        <button type="button" class="btn btn-primary loadButton" data-loading-text="Loading..." data-dismiss="modal" ng-click="loginland()">Login</button>
			      </div>
			    </div>
			  </div>
			</div>
		</div>
	</div>
	<div class="" id="second-main">
		<!-- <div class="second-head"><h1>Find the Best food around you</h1></div> -->
		<div>
			<div class="col-md-offset-1 col-md-7 advert">
				<h1>The saviour !!</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
			<div class="col-md-3">
				<img class="imgs sushi" src="https://raw.githubusercontent.com/SyedHimaayath/Online-Food-order-Favorite-Food-List-App/master/content/6a.png">
				<!-- <img class="imgs cocktail" src="content/3a.png"> -->
				<!-- <img class="imgs burger" src="content/1a.png"> -->
			</div>
		</div>
		<div class="col-md-offset-1 col-md-10"><hr></div>
		<div class="hole-contain">
			<div class="second-head"><h1>Find the Best food around you</h1></div>
		</div>
		<div class="col-md-offset-1 col-md-10"><hr></div>
		<div>
			<div class="col-md-3">
				<img class="imgs cocktail" src="https://raw.githubusercontent.com/SyedHimaayath/Online-Food-order-Favorite-Food-List-App/master/content/3a.png">
			</div>
			<div class="col-md-offset-1 col-md-7 advert">
				<h1>The saviour !!</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</br>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</p>
			</div>
		</div>
	</div>
	<div class="third-main">
		<div class=" quote-box">
			<h1>my quote is going to come here for the food lovers</h1>
			<!-- <img class="apps hidden-xs" src="content/app-prompt.png"> -->
		</div>
	</div>
	<!-- <div class="fourth-main"> -->
	<div class=" tocenter">
		<div class="col-md-12"><h2>Download our New App</h2></div>
		<div class="col-md-offset-2 col-md-4 app-left">
			<img class="phone1" src="https://raw.githubusercontent.com/SyedHimaayath/Online-Food-order-Favorite-Food-List-App/master/content/phone.png">
			<img class="phone2" src="https://raw.githubusercontent.com/SyedHimaayath/Online-Food-order-Favorite-Food-List-App/master/content/phone2.png">
		</div>
		<div class="col-md-5 app-right tocenter">
		<ul>
			<li><div class="box box1"></div></li>
			<li><div class="box box2"></div></li>
			<li><div class="box box3"></div></li>
			<li><div class="box box4"></div></li>
			<li><div class="box box5"></div></li>
			<li><div class="box box6"></div></li>
			</ul>
		</div>
	</div>
  <div class="footer col-md-12">
	<div class="row">
		<div class="foot-list col-md-4">
			<ul>
				<li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Franchise</a></li>
        <li><a href="#">Contact</a></li>
			</ul>
		</div>
		<div class="socio foot-list col-md-2 pull-right">
			<li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
		    <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
	        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
	    </div>
	    </div><hr>
	    <div class="lower-foot">
	    <div class="row">
	    	<div class="col-md-3">
	    	<ul>
				<li><a href="#">Home</a></li>
		        <li><a href="#">About</a></li>
		        <li><a href="#">Blog</a></li>
		        <li><a href="#">Franchise</a></li>
		        <li><a href="#">Contact</a></li>
			</ul>
	    	</div>
	    	<div class="col-md-3">
	    	<ul>
				<li><a href="#">Home</a></li>
		        <li><a href="#">About</a></li>
		        <li><a href="#">Blog</a></li>
		        <li><a href="#">Franchise</a></li>
		        <li><a href="#">Contact</a></li>
			</ul>
	    	</div>
	    	<div class="col-md-3">
	    	<ul>
				<li><a href="#">Home</a></li>
		        <li><a href="#">About</a></li>
		        <li><a href="#">Blog</a></li>
		        <li><a href="#">Franchise</a></li>
		        <li><a href="#">Contact</a></li>
			</ul>
	    	</div>
	    	<div class="col-md-3">
	    	<ul>
				<li><a href="#">Home</a></li>
		        <li><a href="#">About</a></li>
		        <li><a href="#">Blog</a></li>
		        <li><a href="#">Franchise</a></li>
		        <li><a href="#">Contact</a></li>
			</ul>
	    	</div>
	    </div>
	    </div>
	</div>
</div>
